.collapsed {
  transform: translate3d(0, 0, 0) !important;
}

@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
}
@media (max-width: 992px) {
  .desktop-nav {
    display: none;
  }
}
