<app-header></app-header>
<div class="page-content"><div>
  <app-loader *ngIf="loading"></app-loader>
  <div class="profile-page" *ngIf="!loading">
    <div class="wrapper">
      <div class="page-header page-header-small">
        <div class="page-header-image" data-aos="fade-in" *ngIf="portfolio?.profile?.backgroundUrl" data-parallax="true" [ngStyle]="{'background-image': 'url('+env?.imageUrl+'/'+portfolio?.profile?.backgroundUrl+')'}"></div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image" *ngIf="portfolio?.profile?.avatarUrl">
              <a><img [src]="env.imageUrl+'/'+portfolio?.profile?.avatarUrl" [alt]="portfolio?.profile?.avatarUrl"/></a>
            </div>
            <div class="h2 title">{{portfolio?.profile?.name}}</div>
            <p class="category text-white">{{portfolio?.profile?.jobTitle}}</p>
            <a class="btn btn-primary smooth-scroll mr-2" routerLink="./" fragment="contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
            <a class="btn btn-primary" routerLink="cv" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a *ngFor="let item of portfolio?.social" class="btn btn-default btn-round btn-lg btn-icon" [href]="item?.url" target="_blank" rel="tooltip" [title]="item?.name"><i class="fa {{item?.icon}}"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="about">
    <app-loader *ngIf="loading"></app-loader>
    <div class="container" *ngIf="!loading">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">{{portfolio?.about?.heading}}</div>
             <p data-aos="fade-in" [innerHTML]="portfolio?.about.summery"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section pt-4" id="skills">
    <app-loader *ngIf="loading"></app-loader>
    <div class="container" *ngIf="!loading">
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <div class="card-body">
          <div class="h4 mt-0 title">Skills</div>
          <ul>
            <li *ngFor="let item of portfolio?.skills">
              {{item?.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section pt-4" id="work">
    <app-loader *ngIf="loading"></app-loader>
    <div class="container" *ngIf="!loading">
      <div class="h4 text-left mb-4 title">Latest work</div>
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let item of portfolio.project; let i = index">
          <div class="card pos-relative">
            <img style="cursor: pointer;" *ngIf="item?.thumb" [src]="'assets/images/'+item?.thumb">
            <div class="hover-btns">
                  <button *ngIf="!item.isPdf" type="button" (click)="openImage(item)" class="btn btn-primary">View</button>
                  <a class="btn btn-primary" *ngIf="item.isPdf" [href]="'assets/images/'+item?.image" target="_blank">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section pt-4" id="experience">
    <app-loader *ngIf="loading"></app-loader>
    <div class="container cc-experience" *ngIf="!loading">
      <div class="h4 text-left mb-4 title">Work Experience</div>
      <div class="card" *ngFor="let item of portfolio?.experience">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p>{{item?.startdate}} - {{item?.enddate ? item?.enddate : 'Present'}}</p>
              <div class="h5">{{item?.company}}</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">{{item?.position}}</div>
              <p [innerHTML]="item?.summery"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="contact">
    <div class="cc-contact-information" style="background-image: url('assets/images/staticmap.png');">
      <div class="container">
        <div class="cc-contact">
          <div class="row">
            <div class="col-md-9">
              <div class="card mb-0 pb-4" data-aos="zoom-in">
                <div class="h4 text-center title">Hire Me</div>
                <div class="row justify-content-center">
                  <a class="btn btn-whatsapp btn-round btn-lg btn-icon" target="_blank" href="{{portfolio?.contact?.whatsapp}}"><i class="fa fa-2x fa-whatsapp"></i></a>
                  <a class="btn btn-default btn-round btn-lg btn-icon mx-4" href="tel:{{portfolio?.contact?.phone}}"><i class="fa fa-2x fa-phone"></i></a>
                  <a class="btn btn-default btn-round btn-lg btn-icon" href="mailto:{{portfolio?.contact?.email}}"><i class="fa fa-2x fa-envelope"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal d-block show" *ngIf="isOpen">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
             <span *ngIf="!selectedItem?.isPdf">Social Media Post</span>
             <span *ngIf="selectedItem?.isPdf">Article</span>
          </h5>
          <button type="button" class="close" (click)="toggle()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <img *ngIf="selectedItem?.image" [src]="'assets/images/'+ selectedItem?.thumb" class="image-fluid" alt="" srcset="">
        </div>
        <div class="modal-footer">
          <button type="button" style="opacity: 0;" class="btn btn-secondary"></button>
          <button type="button" class="btn btn-primary" (click)="toggle()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" *ngIf="isOpen"></div>
